*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center ;



font-family:  cursive;
}
h1{
margin: 0 auto 0 auto;

}

.menu-bar{
  background:#1E90FF;
  text-align: center;
}
.menu-bar ul{
  display:inline-flex;
  list-style: none;
  color: white;
}
.menu-bar ul li{
  width: 140px;
  margin:15px;
  padding:15px;
}
.menu-bar ul li a{
text-decoration: none;
color: white;
}
.active,.menu-bar ul li:hover
{
  background:	#191970;
  border-radius: 3px;
}
.menu-bar .fa {
  margin-right: 8px;
}
.sub-menu
{
  display: none;
}

.menu-bar ul li:hover .sub-menu
{
  display: block;
  position: absolute;
  background:#1E90FF;
  margin-left: -15px;
  margin-top: 15px;
}
.menu-bar ul li:hover .sub-menu ul{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover{
color:#191970;
}

.search-box
{
  width:100%;
  position: relative;


}

  .search-box input[type="text"]
  {
    width:100%;
    padding: 13px;

padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid;
    font-size: 18px;
    color:white;
    }

    .fa-search
    {
      color: white;
      position: absolute;
      top:16px;
      right: 30px;

      font-size: 30px;
    }
.top-container
{

  position: absolute;
  top:40%;
  left:40%;
}
h1
{
  color: #111;
}
h1 span{
  margin: 0;
  padding: 0;
font-size: 50px;
  animation: animate 2s linear infinite;
}

@keyframes animate
 {
  0%,100%
  {
    color:#fff;
    

  }
  5%,95%
  {
    color:#111;
    
  }
}
.signup-form
{
background: white;
  width: 300px;
  box-shadow: 0 0 3px 0 #fff;
  padding: 20px;
  margin:8% auto 0;
  text-align: center;
}
.signup-form h1
{
  color: #1c8adb;
  margin-bottom: 30px;
}
.input-box
{
  border-radius: 20px;
  padding: 10px;
  width:100%;
  margin:10px 0;
  border: 1px solid #999;
  outline: none;
}
button
{
  color:#fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: 0;
  outline:0;
  cursor: pointer;
}
.signup-btn
{
  background:  #1c8adb;
}
.facebook-btn{
  background :#21afde;
}
a{
  text-decoration: none;
}

hr
{
  margin-top: 20px;
  width: 90%;
}
.image{
  width: 150px;
  height: 200px;
}
.i
{
width : 70px;
}

#main-image
{
  width:30%;
  padding-left:0;
}
.table1{
  text-align: center;
padding-left: 700px;
}
.books
{

  width: 25%;
  float: left;
  margin-right: 30px;

}
 .table3
{
  border-collapse: separate;
border-spacing: 25px 25px ;
padding: 25px;
}
 .table3 td
{
  margin:12px 12px 12px 2px;
}
.table3 td:hover
  {
background-color: lightgray;
}


.table3 td a
{
  text-align: center;
  text-decoration-color: green;
  text-decoration: underline;
}
.middle-container
{

  width:50%;
  text-align: left;
  margin:left;
  margin: 100px auto 100px auto;
}
